# fly.toml app configuration file generated for neo4j-db-still-sea-6647 on 2026-01-28T22:03:23+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'neo4j-db-still-sea-6647'
primary_region = 'cdg'

[build]
  image = 'neo4j:5'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
