version: '3.8'
services:
  app:
    build: .
    command: npm run start
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - SQLITE_FILE=/data/db.sqlite
    volumes:
      - ./data:/data
      - ./:/usr/src/app

